@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 380px;
    height: 280px;
    border: none;
}

h1 {
    font-family: "FonteLogo", sans-serif;
    font-size: 25px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
    margin: 0px;
}
